{
  "openapi": "3.0.3",
  "info": {
    "title": "coursebook.golf API",
    "version": "1.0.0",
    "description": "JSON API for the coursebook.golf web, iOS and Android clients. Authenticate with a Clerk session token: `Authorization: Bearer <token>`. Every failure returns the ApiError envelope. The contract only grows: fields and error codes are added, never renamed or removed."
  },
  "servers": [
    {
      "url": "https://api.coursebook.golf"
    }
  ],
  "components": {
    "securitySchemes": {
      "ClerkSession": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "A Clerk session token from the web, iOS or Android SDK."
      }
    },
    "schemas": {
      "Me": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "displayName"
        ]
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ApiErrorBody"
          }
        },
        "required": [
          "error"
        ]
      },
      "ApiErrorBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable machine-readable code. Current values: bad_request, validation_failed, us_state_required, unauthenticated, account_deleted, username_invalid, not_found, course_not_found, not_on_list, round_not_found, member_not_found, payload_too_large, unsupported_media_type, account_deletion_incomplete, search_unavailable, internal. New codes may appear; treat unknown codes by HTTP status.",
            "example": "not_on_list"
          },
          "message": {
            "type": "string",
            "description": "Explanation suitable to show to the member."
          },
          "requestId": {
            "type": "string",
            "description": "Correlates the failure with server logs."
          },
          "fields": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/FieldError"
            },
            "description": "Per-field problems for validation_failed; otherwise null."
          }
        },
        "required": [
          "code",
          "message",
          "requestId",
          "fields"
        ]
      },
      "FieldError": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "description": "Dotted path of the invalid input, e.g. `q` or `course.name`."
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "path",
          "message"
        ]
      },
      "MyCourses": {
        "type": "object",
        "properties": {
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MyCourse"
            },
            "description": "The member's list in personal rank order."
          }
        },
        "required": [
          "courses"
        ]
      },
      "MyCourse": {
        "type": "object",
        "properties": {
          "course": {
            "$ref": "#/components/schemas/Course"
          },
          "rank": {
            "type": "integer",
            "minimum": 1
          },
          "played": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "course",
          "rank",
          "played"
        ]
      },
      "Course": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "location": {
            "type": "string",
            "nullable": true,
            "description": "Display location, e.g. `Arcadia, MI, USA`; null when unknown."
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "Two-letter state code for US courses."
          },
          "country": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string",
            "nullable": true
          },
          "websiteUrl": {
            "type": "string",
            "nullable": true
          },
          "ranks": {
            "$ref": "#/components/schemas/CourseRanks"
          }
        },
        "required": [
          "id",
          "name",
          "location",
          "city",
          "state",
          "country",
          "logoUrl",
          "websiteUrl",
          "ranks"
        ]
      },
      "CourseRanks": {
        "type": "object",
        "properties": {
          "world": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "usa": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "usaPublic": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          },
          "state": {
            "type": "integer",
            "nullable": true,
            "minimum": 1,
            "description": "Rank on the Best-in-State list of the course's own state."
          }
        },
        "required": [
          "world",
          "usa",
          "usaPublic",
          "state"
        ]
      },
      "Rounds": {
        "type": "object",
        "properties": {
          "rounds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Round"
            },
            "description": "Newest first."
          }
        },
        "required": [
          "rounds"
        ]
      },
      "Round": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "playedOn": {
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "id",
          "playedOn"
        ]
      },
      "AddedToList": {
        "type": "object",
        "properties": {
          "added": {
            "type": "boolean",
            "description": "False when the course was already on the list."
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MyCourse"
            },
            "description": "The member's whole list after the change, read in the same transaction."
          }
        },
        "required": [
          "added",
          "courses"
        ]
      },
      "AddToListRequest": {
        "type": "object",
        "properties": {
          "playedOn": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Date played (YYYY-MM-DD) in the member's time zone. The server's date (UTC) when omitted, so clients should send it."
          }
        }
      },
      "AddedCourse": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "string",
            "format": "uuid"
          },
          "rank": {
            "type": "integer",
            "minimum": 1
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MyCourse"
            },
            "description": "The member's whole list after the change, read in the same transaction."
          }
        },
        "required": [
          "courseId",
          "rank",
          "courses"
        ]
      },
      "AddCourseRequest": {
        "type": "object",
        "properties": {
          "course": {
            "$ref": "#/components/schemas/CourseDetailsRequest"
          },
          "source": {
            "$ref": "#/components/schemas/CourseSource"
          },
          "rank": {
            "type": "integer",
            "nullable": true,
            "minimum": 1,
            "description": "Position for a course not yet on the list; the bottom when omitted. A course already on the list keeps its rank."
          },
          "quantity": {
            "type": "integer",
            "nullable": true,
            "minimum": 1,
            "maximum": 100,
            "description": "Rounds to log; 1 when omitted."
          },
          "playedOn": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Date played (YYYY-MM-DD) in the member's time zone. The server's date (UTC) when omitted, so clients should send it."
          }
        },
        "required": [
          "course",
          "source"
        ]
      },
      "CourseDetailsRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "Required, as a two-letter code, for U.S. courses whose location does not name the state."
          },
          "country": {
            "type": "string",
            "minLength": 1
          },
          "logoUrl": {
            "type": "string",
            "nullable": true
          },
          "websiteUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name",
          "country"
        ]
      },
      "CourseSource": {
        "type": "string",
        "enum": [
          "search",
          "manual"
        ],
        "description": "`search`: a course search hit; `manual`: a course the member typed in (shared with everyone as a custom course)."
      },
      "LoggedRounds": {
        "type": "object",
        "properties": {
          "added": {
            "type": "integer",
            "minimum": 1,
            "description": "Rounds logged."
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MyCourse"
            },
            "description": "The member's whole list after the change, read in the same transaction."
          }
        },
        "required": [
          "added",
          "courses"
        ]
      },
      "LogRoundsRequest": {
        "type": "object",
        "properties": {
          "quantity": {
            "type": "integer",
            "nullable": true,
            "minimum": 1,
            "maximum": 100,
            "description": "Rounds to log; 1 when omitted."
          },
          "playedOn": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Date played (YYYY-MM-DD) in the member's time zone. The server's date (UTC) when omitted, so clients should send it."
          }
        }
      },
      "MovedCourse": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "integer",
            "minimum": 1
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MyCourse"
            },
            "description": "The member's whole list after the change, read in the same transaction."
          }
        },
        "required": [
          "rank",
          "courses"
        ]
      },
      "MoveCourseRequest": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "integer",
            "minimum": 1,
            "description": "Target position; past the end means the bottom."
          }
        },
        "required": [
          "rank"
        ]
      },
      "PlayCount": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 0
          },
          "removed": {
            "type": "boolean",
            "description": "True when a count of zero removed the course from the list."
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MyCourse"
            },
            "description": "The member's whole list after the change, read in the same transaction."
          }
        },
        "required": [
          "count",
          "removed",
          "courses"
        ]
      },
      "SetPlayCountRequest": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000,
            "description": "Zero removes the course from the list. Lowering deletes the oldest rounds."
          }
        },
        "required": [
          "count"
        ]
      },
      "DeletedRound": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "string",
            "format": "uuid"
          },
          "removedCourse": {
            "type": "boolean",
            "description": "True when it was the course's last round, which removes the course."
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MyCourse"
            },
            "description": "The member's whole list after the change, read in the same transaction."
          }
        },
        "required": [
          "courseId",
          "removedCourse",
          "courses"
        ]
      },
      "Rankings": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RankingEntry"
            }
          }
        },
        "required": [
          "entries"
        ]
      },
      "RankingEntry": {
        "type": "object",
        "properties": {
          "course": {
            "$ref": "#/components/schemas/Course"
          },
          "rank": {
            "type": "integer",
            "minimum": 1
          },
          "type": {
            "type": "string",
            "description": "Published list: world, usa, usa_public or state. New lists may appear."
          },
          "scope": {
            "type": "string",
            "description": "List scope, e.g. WORLD, USA or a state code."
          }
        },
        "required": [
          "course",
          "rank",
          "type",
          "scope"
        ]
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchHit"
            },
            "description": "At most 10, best match first."
          }
        },
        "required": [
          "results"
        ]
      },
      "SearchHit": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Catalog course id when the hit is already in the catalog; null otherwise."
          },
          "course": {
            "$ref": "#/components/schemas/CourseDetails"
          },
          "ranks": {
            "$ref": "#/components/schemas/CourseRanks"
          }
        },
        "required": [
          "courseId",
          "course",
          "ranks"
        ]
      },
      "CourseDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string",
            "nullable": true
          },
          "websiteUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name",
          "location",
          "city",
          "state",
          "country",
          "logoUrl",
          "websiteUrl"
        ],
        "description": "A course described by its details, e.g. a search result not yet in the catalog."
      },
      "Members": {
        "type": "object",
        "properties": {
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Pass as `cursor` for the next page; null on the last page."
          }
        },
        "required": [
          "members",
          "nextCursor"
        ]
      },
      "Member": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "displayName"
        ],
        "description": "Another member's public projection; never an email or an id."
      },
      "MemberList": {
        "type": "object",
        "properties": {
          "member": {
            "$ref": "#/components/schemas/Member"
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberCourse"
            }
          }
        },
        "required": [
          "member",
          "courses"
        ]
      },
      "MemberCourse": {
        "type": "object",
        "properties": {
          "course": {
            "$ref": "#/components/schemas/Course"
          },
          "rank": {
            "type": "integer",
            "minimum": 1
          },
          "onMyList": {
            "type": "boolean"
          }
        },
        "required": [
          "course",
          "rank",
          "onMyList"
        ]
      },
      "ClientConfig": {
        "type": "object",
        "properties": {
          "minimumVersions": {
            "$ref": "#/components/schemas/MinimumVersions"
          },
          "privacyUrl": {
            "type": "string",
            "format": "uri"
          },
          "accountDeletionUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "minimumVersions",
          "privacyUrl",
          "accountDeletionUrl"
        ]
      },
      "MinimumVersions": {
        "type": "object",
        "properties": {
          "ios": {
            "type": "string"
          },
          "android": {
            "type": "string"
          }
        },
        "required": [
          "ios",
          "android"
        ],
        "description": "Oldest app versions the API still supports; older builds must update."
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/me": {
      "get": {
        "operationId": "getMe",
        "tags": [
          "Account"
        ],
        "summary": "The signed-in member",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "The member.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMe",
        "tags": [
          "Account"
        ],
        "summary": "Delete the member's account",
        "description": "Deletes the member's list and rounds, removes their name and email, and deletes the sign-in account. Courses they added stay in the shared catalog. Safe to retry: after a 502, call it again with the same token.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "204": {
            "description": "The account is deleted; sign the member out."
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "The data is deleted but the sign-in account could not be: `account_deletion_incomplete`. Retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/courses": {
      "get": {
        "operationId": "listMyCourses",
        "tags": [
          "My List"
        ],
        "summary": "The signed-in member's list in personal rank order",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "The list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyCourses"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addCourse",
        "tags": [
          "My List"
        ],
        "summary": "Add a course described by its details and log rounds",
        "description": "For search hits without a catalog id and courses typed in by the member. The course is matched against the catalog or created, placed at `rank` if new to the list, and `quantity` rounds are logged. Not idempotent: retrying after a lost response logs the rounds again.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCourseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The course and the updated list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddedCourse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body: `validation_failed`, `us_state_required`, or `bad_request` for unreadable JSON. Also 413 `payload_too_large` above 32 KB and 415 `unsupported_media_type` without Content-Type: application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/courses/{courseId}/rounds": {
      "get": {
        "operationId": "listMyCourseRounds",
        "tags": [
          "My List"
        ],
        "summary": "Rounds the member logged at one course, newest first",
        "description": "A course that is not on the member's list has no rounds.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The rounds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rounds"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters: `validation_failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "logRounds",
        "tags": [
          "My List"
        ],
        "summary": "Log rounds at a catalog course",
        "description": "Adds the course at the bottom of the list if needed. Not idempotent.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogRoundsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoggedRounds"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body: `validation_failed`, `us_state_required`, or `bad_request` for unreadable JSON. Also 413 `payload_too_large` above 32 KB and 415 `unsupported_media_type` without Content-Type: application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such catalog course: `course_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/courses/{courseId}": {
      "put": {
        "operationId": "addToList",
        "tags": [
          "My List"
        ],
        "summary": "Put a catalog course on the list",
        "description": "Adds the course at the bottom and logs one round when it has none. Repeating it changes nothing, so retrying is safe.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddToListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddedToList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body: `validation_failed`, `us_state_required`, or `bad_request` for unreadable JSON. Also 413 `payload_too_large` above 32 KB and 415 `unsupported_media_type` without Content-Type: application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such catalog course: `course_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeCourse",
        "tags": [
          "My List"
        ],
        "summary": "Take a course off the list with all its rounds",
        "description": "A 404 on retry means the course is already gone.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyCourses"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters: `validation_failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The course is not on the list: `not_on_list`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/courses/{courseId}/rank": {
      "put": {
        "operationId": "moveCourse",
        "tags": [
          "My List"
        ],
        "summary": "Move a course to a position on the list",
        "description": "The whole list is renumbered, including courses a client has filtered out.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveCourseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The course's new rank and the updated list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovedCourse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body: `validation_failed`, `us_state_required`, or `bad_request` for unreadable JSON. Also 413 `payload_too_large` above 32 KB and 415 `unsupported_media_type` without Content-Type: application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The course is not on the list: `not_on_list`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/courses/{courseId}/play-count": {
      "put": {
        "operationId": "setPlayCount",
        "tags": [
          "My List"
        ],
        "summary": "Set how many rounds a course has",
        "description": "Lowering deletes the oldest rounds; raising logs rounds dated today; zero removes the course.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPlayCountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The count and the updated list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayCount"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body: `validation_failed`, `us_state_required`, or `bad_request` for unreadable JSON. Also 413 `payload_too_large` above 32 KB and 415 `unsupported_media_type` without Content-Type: application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The course is not on the list: `not_on_list`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/rounds/{roundId}": {
      "delete": {
        "operationId": "deleteRound",
        "tags": [
          "My List"
        ],
        "summary": "Delete one round",
        "description": "Deleting a course's last round takes the course off the list. A 404 on retry means the round is already gone.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "roundId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedRound"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters: `validation_failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such round: `round_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rankings": {
      "get": {
        "operationId": "listRankings",
        "tags": [
          "Catalog"
        ],
        "summary": "Every published ranking entry",
        "description": "Public and cacheable: responses carry an ETag; send it as If-None-Match to receive 304 when nothing changed. Send no Authorization header so shared caches can store it.",
        "security": [],
        "responses": {
          "200": {
            "description": "All entries of all published lists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rankings"
                }
              }
            }
          },
          "304": {
            "description": "Not modified since the ETag sent in If-None-Match."
          }
        }
      }
    },
    "/v1/course-search": {
      "get": {
        "operationId": "searchCourses",
        "tags": [
          "Catalog"
        ],
        "summary": "Find courses by name",
        "description": "Catalog courses carry their id; other hits carry details to send back when adding the course.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 2,
              "description": "Course name, at least two characters."
            },
            "required": true,
            "description": "Course name, at least two characters.",
            "name": "q",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Up to ten hits, best first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters: `validation_failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Course discovery is unavailable: `search_unavailable`. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/members": {
      "get": {
        "operationId": "listMembers",
        "tags": [
          "Members"
        ],
        "summary": "The member directory, a page at a time",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "nullable": true
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 1,
              "maximum": 200,
              "description": "Defaults to 50."
            },
            "required": false,
            "description": "Defaults to 50.",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "One page of members.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Members"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters: `validation_failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/members/{username}": {
      "get": {
        "operationId": "getMemberList",
        "tags": [
          "Members"
        ],
        "summary": "Another member's list, read-only",
        "description": "Usernames match case-insensitively.",
        "security": [
          {
            "ClerkSession": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "username",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The member and their list, with on-my-list flags for the viewer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberList"
                }
              }
            }
          },
          "401": {
            "description": "No valid session: `unauthenticated`, or `account_deleted` after the account was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The Clerk account cannot use the app: `username_invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such member: `member_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/client-config": {
      "get": {
        "operationId": "getClientConfig",
        "tags": [
          "Clients"
        ],
        "summary": "Settings every client reads at launch",
        "description": "Apps older than the minimum version must ask the member to update.",
        "security": [],
        "responses": {
          "200": {
            "description": "Client settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientConfig"
                }
              }
            }
          }
        }
      }
    }
  }
}
